<div class="container">
  <div class="box">
    <div class="login">
      <h2 class="login-header">Log in</h2>
      <div class="login-container">

        <p >
          <input type="text" placeholder="Nome" #username>
        </p>

        

        <p >
          <input type="password" placeholder="Password" #password>
          
        </p>

        

        <p>
        <!--button (click)="login(username.value, password.value)">login</button-->
          <input type="submit" value="Login"  (click)="login(username.value, password.value)">
        </p>
      </div>

    </div>
    </div>
 </div> 
